# *
# !projects
# !scripts
# !.env.example
# !.gitignore
# !docker-compose
# !docker-compose.yml


/*

!.gitignore
!.env.example
!docker-compose
!docker-compose.yml

!projects/
!projects/*
!scripts/
!scripts/*

